# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
release/
**/release/
/release/0.0.0/release/YourAppName-Mac-0.0.0-Installer.dmg
/release/0.0.0/YourAppName-Mac-0.0.0-Installer.dmg.blockmap

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?